{deps, [
    {jiffy, ".*", {git, "https://github.com/davisp/jiffy.git", master}},
    {jsonx, ".*", {git, "https://github.com/iskra/jsonx.git", master}},
    {jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", {branch, master}}}
]}.
{sub_dirs, [
    "./apps/ejson_test",
    "./apps/json"
]}.


